/* STYLES FOR THE IMAGE DESCRIPTIONS IN THE PIECEMAKER IMAGE GALLERY BY MODULARWEB */

headline {
	display: block;
	font-size: 20;
	color: #485159;
}

paragraph {
	display: block;
	color: #485159;
}

inline {
	display: inline;
	color: #485159;
}

break {
	font-size: 7;
	display:block;
}

a {
	color: #F19D3B;
	display: inline;
}

a:hover {
	color: #2F485F;
	display: inline;
}