{% extends "_base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<p>We are a <em>non-profit</em>, commercial free Christian station that provides music and spoken-word shows to the HRM community 24 hours a day, 7 days a week.</p>
<p>We are staffed entirely by volunteers and broadcast out of <a href="http://www.bedfordbaptist.ca">Bedford Baptist Church</a> perched on the top of a hill (thus the name) overlooking the community of Bedford, Nova Scotia. Our purpose is to provide our listening audience with a message of hope for their lives through the songs and messages we broadcast on our station.</p>
<p>If you would like to give us feedback or make a comment on our station please do so here.</p>
<p><a href="http://www.hilltopfm.ca/contact-us-2/">Tell us what you think</a></p>
<p>Thanks for listening to Hilltop FM!</p>
{% endblock %}
